body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-sizing: border-box;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;  /* Ensure space between topics */
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;  /* Ensures items are displayed on separate lines */
}

.dropdown-content {
    display: none;
    position: relative;  /* Position relative to the sidebar */
    background-color: #444;
    padding-left: 20px;
    margin-top: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition-delay: 0.65s;  /* Adds a delay to make dropdowns easier to open */
}

.dropdown-content li {
    margin-top: 10px;
}

.dropdown-content li a {
    color: white;
    text-decoration: none;
    display: block;  /* Ensures sub-items are also line-by-line */
}

.dropdown-content li a:hover {
    color: #ddd;
}

.content {
    background-color: #F4F2E8;
    margin-left: 250px;  /* Space for the sidebar */
    padding: 20px;
    flex-grow: 1;
}

.content h2 {
    font-size: 36px;
    background-color: #F4F2E8;

}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4F2E8;  
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    background-color: #F4F2E8;
    padding: 50px;
    text-align: center;
}

#projects {
    padding: 20px;
    background-color: #F4F2E8;
}

.project-card {
    border: 1px solid #9e9d97;
    background-color: #F4F2E8;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}

.project-card img {
    height: 100px;
    width: auto; 
    margin: 0 auto;
    display: block;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;           /* Make image take full width of grid cell */
    height: 200px;          /* Set a fixed height for all images */
    object-fit: cover;      /* Crop the image if necessary to fit the defined height */
    border-radius: 8px;
}