.sidebar nav ul li {
    margin-bottom: 20px;
    position: relative;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #444;
    padding-left: 20px;
    margin-top: 10px;
    z-index: 1;
}

.dropdown > a::after {
    content: '\25B6';
    font-size: 0.8em;
    transition: transform 0.3s ease;
}

.dropdown.active > a::after {
    content: '\25BC';
    transform: rotate(0deg);
}

.dropdown.active .dropdown-content {
    display: block;
}
