body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

#projects {
    padding: 20px;
}

.project-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.project-card img {
    height: 40px;
    width: auto; 
    margin: 0 auto;
    display: block;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;           /* Make image take full width of grid cell */
    height: 200px;          /* Set a fixed height for all images */
    object-fit: cover;      /* Crop the image if necessary to fit the defined height */
    border-radius: 8px;
}